body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --orange: #e8551a;
  --red: #f0241a;
  --grey: rgba(200, 200, 200, 0.3);
  --green: #24d120;
  --gold: #ffd700;
}

.content-container {
  background-color: white;
  display: grid;
  grid-template-columns: 9rem repeat(3, 1fr) 9rem;
  align-items: center;
  height: 100%;
}

.title {
  color: var(--orange);
  grid-column: 2/5;
  font-size: 3em;
  width: 100%;
  margin: 1em 0em;
}

.add-todo {
  grid-row: 2/3;
  grid-column: 2/4;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4em;
}

.filter-container {
  grid-row: 2/3;
  grid-column: 4/5;
  width: 100%;
  height: 100%;
  color: white;
}

.filter-container > label {
  color: var(--orange);
}

.task-container {
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  grid-row: 3/4;
  grid-column: 2/-2;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 3em 0em;
}

.task {
  display: flex;
  margin: 0.5em 0em;
  align-items: center;
  width: 100%;
  min-height: 7em;
  height: 100%;
  font-size: 1.15em;
  /* background-color:; */
  color: black;
  /* padding: 0 1em; */
  border-bottom: 1px solid var(--grey);
}

.task > p {
  flex-basis: 80%;
}
.complete {
  /* margin-right: 2em; */
  flex-basis: 10%;
  justify-self: flex-start;
}

.star {
  flex-basis: 10%;
}

.delete {
  flex-basis: 10%;
}

.delete:hover {
  stroke: var(--red);
}

input,
select {
  height: 2em;
  font-size: 1.15em;
  background: transparent;
  border: none;
  color: black;
  border-bottom: 2px solid var(--grey);
  display: inline-block;
  -webkit-appearance: none;
  margin: 0em 1em;
  width: 50%;
  height: 100%;
  text-align: right;
}

select {
  width: 70%;
  margin: 0 0.15em;
}

.taskText {
  text-align: left;
}

@media (max-width: 768px) {
  .content-container {
    grid-template-columns: 6rem repeat(3, 1fr) 6rem;
  }

  .add-todo {
    grid-column: 2/-2;
  }

  input,
  select {
    width: 80%;
  }

  .filter-container {
    grid-column: 2/-2;
    grid-row: 3/4;
    height: 4em;
    margin: 2em 0em;
  }

  .task-container {
    grid-row: 4/5;
  }

  .task > p {
    margin: 1em;
    flex-basis: 60%;
  }

  .star {
    flex-basis: 20%;
  }

  .delete {
    flex-basis: 20%;
  }
}

@media (max-width: 414px) {
  .content-container {
    grid-template-columns: 2rem repeat(3, 1fr) 2rem;
  }
}
